{% load static %}
<!DOCTYPE html>
<html lang="en">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'sign_up.css' %}" >
<body>

    <div class="signup-container">
        <h2>Sign Up</h2>
        <form action="/submit_signup" method="post">
            <label for="first_name">First Name</label>
            <input type="text" id="first_name" name="first_name" placeholder="Enter your first name" required>
    
            <label for="last_name">Last Name</label>
            <input type="text" id="last_name" name="last_name" placeholder="Enter your last name" required>
    
            <label for="email">Email Address</label>
            <input type="email" id="email" name="email" placeholder="Enter your email address" required>
    
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
    
            <button type="submit">Sign Up</button>
        </form>
        <p>Already have an account? <a href="/login">Login here</a>.</p>
    </div>
    
</body>
</html>